<div class="fluid-container">
  <div class="content">
    <div class="logo-box">
      <!-- background Image here -->
    </div>


    <!-- sign in and sign up right box -->
    <div class="sign-in-up-container">
      <div class="sign-up-in-box">
         <h1 class="header">Join Today.</h1>
        <div class="sign-up-in">
          <a id="signUp" href="users/sign-up">Sign up with email</a>
          <a id="signIn" href="users/sign-in">Sign in</a>
        </div>

       
      </div>

    </div>
  </div>