<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Sign Up/In page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   
<%- include('_header'); %> 
  
 <%- body  %> 

<%- include('_footer'); %> 
   
</body>
</html>