<div class="full-container">
    <div class="nav">
        <div class="container">
            <h3 id="logo">
                <%= name %>
            </h3>

            <a id="logout" href="/users/logout">logout<i class="fa fa-sign-out" style="font-size:20px;color:#275f09"></i></a>
        </div>
    </div>

    <div class="welcome-page">
        <h2>Welcome <%= name %>
        </h2>
        <h1>Nice to meet you</h1>
    </div>


</div>




<!-- <h1 >Welcome to profile page <%=  name %>  </h1>
<a href="/users/logout">logout</a> -->