<div class="fluid-container">
  <div class="content">
    <div class="logo-box">
      <!-- background Image here -->
    </div>


    <!-- sign in and sign up right box -->
    <div class="sign-in-up-container">
      <div class="sign-up-in-box">
          <h1 class="heading">Sign In</h1>

       <div class="sign-up-in">
        <form action="/users/create-session" method="post">
          <input type="email" name="email" placeholder="Your Email" required>
          <input type="password" name="password" placeholder="Password" required>
          <button type="submit">Sign In</button>
        </form>
        <p class="goSignUp">Not registered? <a href="sign-up">Create an account</a></p>

       </div>

      </div>

    </div>
  </div>